ClienteFiel/ClienteFiel/Web References/WS_ServiciosImagen/ServiciosImagen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Imagen">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_IMAGEN" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="RUTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEN" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearImagenResult" type="tns:ImagenResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImagenResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="objeto" type="tns:Imagen" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Response" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="correcto" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Autenticacion" type="tns:Autenticacion" />
      <s:complexType name="Autenticacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="editarImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editarImagenResult" type="tns:ImagenResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroImagenResult" type="tns:Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarImagenResult" type="tns:ArrayOfImagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImagen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Imagen" nillable="true" type="tns:Imagen" />
        </s:sequence>
      </s:complexType>
      <s:element name="buscarPaginacionImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Imagen" />
            <s:element minOccurs="1" maxOccurs="1" name="pag" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numReg" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPaginacionImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPaginacionImagenResult" type="tns:ArrayOfImagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarImagen">
        <s:complexType />
      </s:element>
      <s:element name="listarImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarImagenResult" type="tns:ArrayOfImagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarPaginacionImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pag" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numReg" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarPaginacionImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarPaginacionImagenResult" type="tns:ArrayOfImagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contarBusquedaImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contarBusquedaImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contarBusquedaImagenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarImagenResult" type="tns:ImagenResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearImagenSoapIn">
    <wsdl:part name="parameters" element="tns:crearImagen" />
  </wsdl:message>
  <wsdl:message name="crearImagenSoapOut">
    <wsdl:part name="parameters" element="tns:crearImagenResponse" />
  </wsdl:message>
  <wsdl:message name="crearImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="editarImagenSoapIn">
    <wsdl:part name="parameters" element="tns:editarImagen" />
  </wsdl:message>
  <wsdl:message name="editarImagenSoapOut">
    <wsdl:part name="parameters" element="tns:editarImagenResponse" />
  </wsdl:message>
  <wsdl:message name="editarImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroImagenSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroImagen" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroImagenSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroImagenResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="buscarImagenSoapIn">
    <wsdl:part name="parameters" element="tns:buscarImagen" />
  </wsdl:message>
  <wsdl:message name="buscarImagenSoapOut">
    <wsdl:part name="parameters" element="tns:buscarImagenResponse" />
  </wsdl:message>
  <wsdl:message name="buscarImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="buscarPaginacionImagenSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPaginacionImagen" />
  </wsdl:message>
  <wsdl:message name="buscarPaginacionImagenSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPaginacionImagenResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPaginacionImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="listarImagenSoapIn">
    <wsdl:part name="parameters" element="tns:listarImagen" />
  </wsdl:message>
  <wsdl:message name="listarImagenSoapOut">
    <wsdl:part name="parameters" element="tns:listarImagenResponse" />
  </wsdl:message>
  <wsdl:message name="listarImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="listarPaginacionImagenSoapIn">
    <wsdl:part name="parameters" element="tns:listarPaginacionImagen" />
  </wsdl:message>
  <wsdl:message name="listarPaginacionImagenSoapOut">
    <wsdl:part name="parameters" element="tns:listarPaginacionImagenResponse" />
  </wsdl:message>
  <wsdl:message name="listarPaginacionImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="contarBusquedaImagenSoapIn">
    <wsdl:part name="parameters" element="tns:contarBusquedaImagen" />
  </wsdl:message>
  <wsdl:message name="contarBusquedaImagenSoapOut">
    <wsdl:part name="parameters" element="tns:contarBusquedaImagenResponse" />
  </wsdl:message>
  <wsdl:message name="contarBusquedaImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="eliminarImagenSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarImagen" />
  </wsdl:message>
  <wsdl:message name="eliminarImagenSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarImagenResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarImagenAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:portType name="ServiciosImagenSoap">
    <wsdl:operation name="crearImagen">
      <wsdl:input message="tns:crearImagenSoapIn" />
      <wsdl:output message="tns:crearImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarImagen">
      <wsdl:input message="tns:editarImagenSoapIn" />
      <wsdl:output message="tns:editarImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroImagen">
      <wsdl:input message="tns:buscarPrimeroImagenSoapIn" />
      <wsdl:output message="tns:buscarPrimeroImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarImagen">
      <wsdl:input message="tns:buscarImagenSoapIn" />
      <wsdl:output message="tns:buscarImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPaginacionImagen">
      <wsdl:input message="tns:buscarPaginacionImagenSoapIn" />
      <wsdl:output message="tns:buscarPaginacionImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarImagen">
      <wsdl:input message="tns:listarImagenSoapIn" />
      <wsdl:output message="tns:listarImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarPaginacionImagen">
      <wsdl:input message="tns:listarPaginacionImagenSoapIn" />
      <wsdl:output message="tns:listarPaginacionImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="contarBusquedaImagen">
      <wsdl:input message="tns:contarBusquedaImagenSoapIn" />
      <wsdl:output message="tns:contarBusquedaImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarImagen">
      <wsdl:input message="tns:eliminarImagenSoapIn" />
      <wsdl:output message="tns:eliminarImagenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosImagenSoap" type="tns:ServiciosImagenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearImagen">
      <soap:operation soapAction="http://tempuri.org/crearImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:crearImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarImagen">
      <soap:operation soapAction="http://tempuri.org/editarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroImagen">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:buscarPrimeroImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarImagen">
      <soap:operation soapAction="http://tempuri.org/buscarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:buscarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPaginacionImagen">
      <soap:operation soapAction="http://tempuri.org/buscarPaginacionImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:buscarPaginacionImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarImagen">
      <soap:operation soapAction="http://tempuri.org/listarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:listarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPaginacionImagen">
      <soap:operation soapAction="http://tempuri.org/listarPaginacionImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:listarPaginacionImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contarBusquedaImagen">
      <soap:operation soapAction="http://tempuri.org/contarBusquedaImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:contarBusquedaImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarImagen">
      <soap:operation soapAction="http://tempuri.org/eliminarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:eliminarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosImagenSoap12" type="tns:ServiciosImagenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearImagen">
      <soap12:operation soapAction="http://tempuri.org/crearImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:crearImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarImagen">
      <soap12:operation soapAction="http://tempuri.org/editarImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroImagen">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:buscarPrimeroImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarImagen">
      <soap12:operation soapAction="http://tempuri.org/buscarImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:buscarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPaginacionImagen">
      <soap12:operation soapAction="http://tempuri.org/buscarPaginacionImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:buscarPaginacionImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarImagen">
      <soap12:operation soapAction="http://tempuri.org/listarImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:listarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPaginacionImagen">
      <soap12:operation soapAction="http://tempuri.org/listarPaginacionImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:listarPaginacionImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contarBusquedaImagen">
      <soap12:operation soapAction="http://tempuri.org/contarBusquedaImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:contarBusquedaImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarImagen">
      <soap12:operation soapAction="http://tempuri.org/eliminarImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:eliminarImagenAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosImagen">
    <wsdl:port name="ServiciosImagenSoap" binding="tns:ServiciosImagenSoap">
      <soap:address location="http://localhost:51390/Servicios/ServiciosImagen.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosImagenSoap12" binding="tns:ServiciosImagenSoap12">
      <soap12:address location="http://localhost:51390/Servicios/ServiciosImagen.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>